/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Style Global */

body {
    
    background: #ffffff;
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}

p {
    padding: 0px;
    margin-bottom: 12px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height:24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: auto;
    border-radius: 50%;
    border: solid #384452 1px;
}


a {
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-transition: background-color .4s linear, color .4s linear;
    -moz-transition: background-color .4s linear, color .4s linear;
    -o-transition: background-color .4s linear, color .4s linear;
    -ms-transition: background-color .4s linear, color .4s linear; transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
    
    text-decoration: none;
    color: rgba(195, 197, 198, 0.87);
}

::moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center;
}


/* Style Navigation */

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.navbar-brand {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
}

.navbar-header .navbar-brand  {
    color: white;
}

.navbar-default  .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 15px;
}


.navbar-default .navbar-nav > li > a:hover {
    color: rgba(172, 186, 191, 0.82);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: rgba(172, 186, 191, 0.82);
 background: transparent;
}

.navbar-default {
 background-color: #384452;
 border-color: transparent;
}


/* Style Introduction */
#Introduction {
 background: url(../img/intro.jpg) no-repeat center top;
 margin-top: -10px;
 padding-top: 20px;
 text-align: center;
 background-attachment: relative;
 background-position: center center;
 min-height: 700px;
 width: 100%;
            
 -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
            
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Introduction h1 {
 margin-top: 150px;
 color: white;
 font-size: 50px;
 font-weight: 700;
}

#Introduction h3 {
    color: #384452;
    font-size:30px;
    font-weight: 100;
    font-family: "Raleway", sans serif;
    font-style: normal;
}

#Introduction h5 {
    color: brown;
    font-size: 10px;
    font-family: "Raleway", sans-serif;
    font-style: italic;
}


/* Style bouton */
.btn-theme {
    color: #fff;
    background-color: #384452;
    border-color: #384452;
    margin: 4px;
}

.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
 color: #fff;
 background-color: #FCAC45;
 border-color: #ffffff;
}

/*  Style About*/ 

#f {
    background:#384452;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}

#f h3 {
 color: white;
 font-size: 28px;
 font-weight: 700;
 letter-spacing: 1px;
}

#f icon {
 font-size: 8px;
 color: #fff;
 padding: 3px;
}

#f p {
 font-size: 20px;
 color: #f2f2f2;
}

#f img {
 text-align: center; 
}


/* Compétences */

#competences {
    padding: 80px 0;
}

.espace {
    margin-top: 40px;
}

#competences i.fa {
    font-size: 40px;
     border: solid #FCAC45 4px;
     width: 100px;
     height: 100px;
     padding: 27px 25px;
     margin-bottom: 10px;
     border-radius: 50%;
     transition: all 0.5s;
}

#competences i.fa.fa mobile {
 font-size: 50px;
 padding: 20px 25px;
}

#competences .service:hover > i.fa {
 background: #FCAC45;
 color: #ffffff;
}


/* =========== Style Propos.html ========== */
#propos_hub {
	background: #FCAC45;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#propos_hub h3 {
	color:white;
	margin-left: 18px;
}

.propos {
	margin-top: 80px;
	margin-bottom: 80px;
}

.propos p {
	text-align: justify;
}


.propos img {
    border-radius:0%;
    width: 100%;
    height: 100%;
}



/* =========== Style Competences ========== */


.tooltip-target { position: relative; }

.tooltip-content { 
     display: none; 
     position: absolute;
     left: 30%;
     top: -20px; /* set this whatever you want */
     height: 160px;
     width: 60px;
}

.tooltip-target:hover .tooltip-content {
    display: block;
}



/* =========== Informations========== */
#f_Propos {
    background: #384452;
	padding-top: 70px;
	padding-bottom: 70px;
	text-align: center;
}

#f_Propos h3 {
    color: white;
	font-size: 22px;
	font-weight: 450;
}

#f_Propos p {
	font-size: 20px;
	color: #f2f2f2;	
}

/* =========== Formations ========== */

#formations img {
    
    text-align: center;
    
}


/* =========== Formations ========== */

#experiences img {
    
    text-align: center;
    
}


/*


/* Portfolio */

#filter a {
	margin: 0px;
	font-size: 1.2em;
	line-height: 2em;
	font-weight: 300;
	padding: 3px 5px;
	cursor: pointer;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


/**** Isotope filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}


		
.grid {
	padding: 0px 0px 100px 0px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
}

.grid li {
	display: inline-block;
	width: 270px;
	margin: 0;
	padding: 10px;
	margin: 0px auto;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
}

.grid figcaption  span{
	float: right;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
}

.grid figcaption a {
	text-align: center;
	padding: 3px 5px;
	display: inline-block;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
}

.grid figure img {
	z-index: 10;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius: 5px;
}

.grid figure:hover img,
.grid figure.cs-hover img {
	margin-left: -27%;
	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	-ms-transform: scale(0.3);
	transform: scale(0.3);
}

.grid figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-moz-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-moz-transition: -moz-transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
}

.grid figure:hover figcaption,
.grid figure.cs-hover figcaption {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.grid figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}




/* CONTACT */

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    width:100%;
    margin:0px 0px 5px 0px;
    padding:10px;
    border: 0.5px dashed orange;
	
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
}
#contact-form button[type="submit"] {
	font-family: 'Lobster Two', 'Lato', Calibri, Arial, sans-serif;
	font-size: 0.5em;
    cursor:pointer;
    width:100%;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
    border: 0.5px dashed orange;
}

#contact-form button[type="submit"]:hover {}

#contact {
    margin-top: 10px;
    background: #384452;
    
}


#contact h2 {
    color: white;
    
}

#contact h3 {
    color: white;
    
}

#contact span {
    color: white;
    font-size: 15px;
    
}



/* Footer */


footer {
    
    margin-left:10px;
    
    
    
}






















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
